INST "Clk50MHz_BUFGP" LOC = BUFGMUX_X2Y11;
NET "Clk50MHz" LOC = B8;
NET "DecEnt[0]" LOC = L14;
NET "DecEnt[1]" LOC = L13;
NET "DecEnt[2]" LOC = N17;
NET "DecEnt[3]" LOC = R17;
NET "Disp[0]" LOC = F17;
NET "Disp[1]" LOC = H17;
NET "Disp[2]" LOC = C18;
NET "Disp[3]" LOC = F15;
NET "HorEn" LOC = E18;
NET "MinEn" LOC = D18;
NET "Rst" LOC = H13;
NET "SegOut[0]" LOC = J14;
NET "SegOut[1]" LOC = J15;
NET "SegOut[2]" LOC = K15;
NET "SegOut[3]" LOC = K14;
NET "SegOut[4]" LOC = E17;
NET "SegOut[5]" LOC = P15;
NET "SegOut[6]" LOC = F4;
NET "SegOut[7]" LOC = R4;
NET "Seg[0]" LOC = L18;
NET "Seg[1]" LOC = F18;
NET "Seg[2]" LOC = D17;
NET "Seg[3]" LOC = D16;
NET "Seg[4]" LOC = G14;
NET "Seg[5]" LOC = J17;
NET "Seg[6]" LOC = H14;
NET "Seg[7]" LOC = C17;
NET "UniEnt[0]" LOC = G18;
NET "UniEnt[1]" LOC = H18;
NET "UniEnt[2]" LOC = K18;
NET "UniEnt[3]" LOC = K17;
